<html>
<head>
<style type="text/css">

body {
    font-family: "%@";
    font-size: %@;
    background:#f7f3e8;
}
.prayer {margin: 1em; }\n"
.prayer p:first-child:first-letter {
    font-family: Old English, Georgia,serif;
    font-size: 140%;
    line-height: 0.85em;
    float:left;
    margin-right: 0.05em;
    margin-bottom:-0.25em;
    
}

</style>
</head>
<body>
    <div class="prayer">%@</div>
</body>
</html>